<div class="container-fluid fondo">
  <div class="row ">
    <h6>&nbsp;&nbsp;SISTEMAS OPERATIVOS</h6>
  </div>
  <div class="row justify-content-center" *ngIf="autores">
    <app-autor-detail class="col-md-5" *ngFor="let autor of autores" [autor]="autor" ></app-autor-detail>
  </div>
  <div class="row">
    <div class="col-lg-6 text-left">
      <button class="btn-link" (click)="obtenerAnteriores()" > < Anteriores 2 </button>
    </div>
    <div class="col-lg-6 text-right">
      <button class="btn-link" (click)="obtenerSiguientes()"> Siguientes 2 ></button>
    </div>
  </div>
</div>
